.App{
  width: 100vw ;
  height: 100vh ;
}

.Sidebar {
  width: 100vw ;
  display: flex ;
}

.Sidebar #title {
  font-size: 18px ;
  text-decoration: none;
}

.Sidebar ul{
  display: flex;
  align-items: center ;
}

.Sidebar ul li {
  list-style: none ;
  align-items: center ;
}

.Sidebar ul li a {
  display: block ;
  text-decoration: none ;
  color: white ;
  padding: 0.5rem ;
  border-radius: 0.5rem ;
}

/* .Sidebar {
  height: 15vh ;
  width: 100vw ;
}


.sideBarList{
  height: auto ;
  padding: 0 ; 
  width: 100% ;
} */


/* .sideBarList .row{
  height: 60px ;
  width: 100% ;
  list-style-type: none ;
  margin: 0 ;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  font-family: 'Lucida Sans', 'Arial, sans-serif','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', ;
}

.sideBarList .footer {
  height: 60px ;
  width: 100% ;
  list-style-type: none ;
  margin: 0 ;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  font-family: 'Lucida Sans', 'Arial, sans-serif','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', ;
} */

/* .Sidebar .col:hover:not(#name):not(#active) {
  cursor: pointer ;
  background-color: rgba(71, 136, 109, 0.842) ;
}

.Sidebar #active{
  background-color: rgba(71, 136, 109, 0.842) ;
} */

/* .row #icon{
  flex: 30% ;
  display: grid ;
  place-items: center ;
}

.row #title{
  flex: 70% ;
} */


#next{
  margin-top: 10%;
  margin-left: 25%;
}

.showQuestion{
  opacity: 1 ;
}

.hideQuestion{
  opacity: 0 ;
}

#allowQuestion{
  pointer-events: auto ; 
}

#notAllowQuestion{
  pointer-events: none ; 
}

.dashitems{
  position: relative ;
  left:5%;
}

.listItems{
  list-style-type: none;
}

.listItems li{
  margin: 10px;
}

/* #footer{
  position: absolute ;
  width: 15vw ;
  bottom: 0 ;
  font-size: medium;
} */