.App{
  width: 100vw ;
  height: 100vh ;
}

body {
  margin: 0 ;
  padding: 0 ;
}

.Sidebar {
  height: 100vh ;
  width: 15vw ;
}


.sideBarList{
  height: auto ;
  padding: 0 ; 
  width: 100% ;
}


.sideBarList .row{
  height: 60px ;
  width: 100% ;
  list-style-type: none ;
  margin: 0 ;
  display: flex ;
  flex-direction: row ;
  justify-content: center ;
  align-items: center ;
  font-family: 'Lucida Sans', 'Arial, sans-serif','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', ;
}

.sideBarList .footer {
  height: 60px ;
  width: 100% ;
  list-style-type: none ;
  margin: 0 ;
  display: flex ;
  flex-direction: row ;
  justify-content: center ;
  align-items: center ;
  font-family: 'Lucida Sans', 'Arial, sans-serif','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', ;
}

.sideBarList .row:hover:not(#name):not(#active) {
  cursor: pointer ;
  background-color: rgba(71, 136, 109, 0.842) ;
}

.sideBarList #active{
  background-color: rgba(71, 136, 109, 0.842) ;
}

.row #icon{
  flex: 30% ;
  display: grid ;
  place-items: center ;
}

.row #title{
  flex: 70% ;
}

.questionBox{
  justify-content:center ;
  height: 100vh ;
  width: 100vw ;
}

#next{
  margin-top: 10%;
  margin-left: 25%;
}

.showQuestion{
  opacity: 1 ;
}

.hideQuestion{
  opacity: 0 ;
}

#allowQuestion{
  pointer-events: auto ; 
}

#notAllowQuestion{
  pointer-events: none ; 
}

.header{
  position: absolute ;
  top:5% ;
  left:20%;
}

.dashitems{
  position: relative ;
  left:5%;
}

.listItems{
  list-style-type: none;
}

.listItems li{
  margin: 10px;
}

#footer{
  position: absolute ;
  width: 15vw ;
  bottom: 0 ;
  font-size: medium;
}